.cart-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.cart-card {
  display: flex;
  gap: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background: hsl(219, 100%, 90%);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.cart-card img {
  width: 180px;       
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}


.cart-details {
  flex: 1;
}

.cart-details h4 {
  font-size: 18px;
  margin-bottom: 6px;
}

.cart-details p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.cart-price {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}


.cart-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.remove-btn {
  padding: 4px 12px;
  font-size: 13px;
  background-color: #191818;
  border: 1px solid #131312;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #f5c85c;
}


.cart-summary {
  text-align: right;
  margin-top: 20px;
}

.checkout-btn {
  padding: 6px 18px;
  font-size: 14px;
  background-color: #1d1d1c;
  border: 1px solid #e6b94e;
  border-radius: 6px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #f5c85c;
}


/* .cart-container {
  padding: 40px;
  background-color: #fffef8;
}

.cart-container h2 {
  margin-bottom: 25px;
  color: #5c3d2e;
}

.cart-card {
  display: flex;
  gap: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.cart-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-details h4 {
  margin-bottom: 5px;
}

.cart-details p {
  font-size: 14px;
  margin-bottom: 8px;
}

.cart-price {
  font-weight: bold;
  color: #6f4e37;
}

.cart-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: #ffe08a;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 30px;
  padding: 20px;
  background: #fff3c4;
  border-radius: 8px;
  text-align: right;
}

.checkout-btn {
  margin-top: 10px;
  padding: 10px 18px;
  background: #ffd966;
  border: none;
  cursor: pointer;
  font-weight: 600;
} */
